html {
    font-size: 12px;
    font-family: Raleway, sans-serif;
    background: linear-gradient(
        45deg, rgb(220, 147, 147), rgb(132, 132, 196)
        );
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}
img {
    display: block;
    margin: 0 auto;
}
p, li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
}